<!DOCTYPE html>
<html lang="en">
<head>
  <title>武汉大学未来网——精彩看未来</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="武汉大学，未来网，新闻子网，社会实践，武汉大学团委，社会主义核心价值观，武汉大学校级组织，武汉大学团支部">
    <meta name="description" content="武汉大学未来网新版官方网站。">
    <link rel="shortcut icon" href="favicon.ico" />
  <link rel="shortcut icon" href="">
  <link href="/static/css/style-admin.css" rel="stylesheet">

</head>
<body>
  <div id="login_page">
    <div id="login_container">
      <div id="login_title">后台系统登录</div>
      <div id="login_content">

        <div class="login_row"><input type="text" id="username" placeholder="用户名"/></div>
        <div class="login_row"><input type="password" id="password" placeholder="密码"/></div>
        <div class="login_row"><button onclick="login()" id="login">登录</button></div>

      </div>
    </div>
  </div>
</body>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/global.js"></script>
</html>

