{% extends "manage/admin.html" %}
{% block content %}
<div id="main">
    <div id="main_page_content"> 
      <div id="main_title"><h2>常见问题</h2></div>
      <div id="main_body">
        <!-- usingInfo_row start -->
        <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>如何发布文章？</a>
          </div>
          <div class="usingInfo_row_body">
            <ul>
              <li>登录之后点击“添加文章”</li>
              <li>填写文章标题，发布者等信息</li>
              <li>选择文章板块</li>
              <li>点击“确认提交”</li>

            </ul>
          </div>
        </div>
        <!-- usingInfo_row start -->
        <!-- usingInfo_row start -->
        <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>如何修改文章？</a>
          </div>
          <div class="usingInfo_row_body">
            <ul>
              <li>点击“修改文章”</li>
              <li>修改文章标题等信息</li>
              <li>重新选择文章的板块</li>
              <li>提交修改</li>

            </ul>
          </div>
        </div>
        <!-- usingInfo_row start -->
        <!-- usingInfo_row start -->
        <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>如何添加用户？</a>
          </div>
          <div class="usingInfo_row_body">
            <ul>
              <li>点击“添加用户”</li>
              <li>填写用户名，密码等信息</li>
              <li>点击“提交”</li>


            </ul>
          </div>
            <div class="usingInfo_row">
          <div class="usingInfo_row_title">
            <a>如何管理板块？</a>
          </div>
          <div class="usingInfo_row_body">
            <ul>
              <li>点击“管理板块”</li>
              <li>通过点击“删除”和“重命名来管理板块”</li>



            </ul>
          </div>
          </div>
        </div>
        <!-- usingInfo_row start -->
      </div>
    </div>
  </div>
{% endblock %}